.blank-space{
	min-height: 200;
	background-color: white;
}
.ristoranti{
	position: relative;
	margin-top: 50;
	min-height: 100;
	background-color: white;
}

.search-object{
	height: 32;
	width: 32;
}
.search-text-restaurant{
	float: left;
	
	position: relative;
	min-width: 270;
	height: 40;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	border-width: 1;
	border-style: dashed;
	border-bottom-color: lightgray;
	padding-top: 11;
	padding-left: 40;
}
::placeholder{
	color: lightgray;
}
.header{
	background-color: white;
	min-height: 180;
	text-align: center;
	font-size: 38;
	color: #e11f21;	
	margin-top: 22;
}
.search-contents-margin{
	margin-top: 35;
}

.caption-sel-you{
	margin-left: 0;
	margin-bottom: 4;
	text-align: center;
	padding-top: 2;
	font-size: 18;
	color: #e11f21;
	width: 317;
	border-top: 1px dashed #e11f21;
	border-bottom: 1px dashed #e11f21; 
}

.text-select-for-you-1{
	text-align: left;
	padding-left: 20;
	margin-top: 205;
	font-size: 17;
	color: white;
}

.select-for-you{
	margin-top: 25;
	background-color: black;
	min-height: 300;
	border-left-width: 2 yellow;
}
.line-dashed-restaurant{
	margin-top: -5;
	border-style: dashed;
}
.margin-select-for-you{
	position: relative;
	margin-top: -10;
	margin-bottom: -4; 
	
}
.resize-margin{
	margin-left: 220;
	margin-right: 220;
}
.move-text{
	position: relative;
	top: 11;
}
.rectangle{
	position: relative;
	margin-right: 18;
	margin-left: 21;
	background-color: #e11f21;
	min-height: 55;
	height: auto;
	width: auto;
}
.box-restaurant{
	margin-top: 180;
	background-color: white;
	min-height: 700;
}

/*SELEZIONATO PER TE*/
.box-restaurant-2{
	display: table;
	margin: 0 auto;
	background-color: white;
	min-height: 350;
	border-right: 2px solid #e11f21;
	border-bottom: 2px solid #e11f21;
	border-left: 2px solid #e11f21;
	border-top: 2px solid #e11f21;
}

.box-restaurant-top-header{
	background-color: #e11f21;
	min-height: 40;
	text-align: center;
	font-size: 25;
	margin-top: 10;
	margin-left: 5;
	margin-right: 5;
	margin-bottom: 5;
	color: white;
}

/* LA DIV DEL RISTORANTE */

.box-image-select{
	margin-top: -6;
	position: relative;
	margin-left: 9;
	margin-right:9;
	height: 283;
	width: 317;
	float: left;
	background-color: green;
}
.caption-sel-you-2{
	top: 190;
	position: absolute;
	background-color: white;
	width: 317;	
	font-size: 16;
	color: #e11f21;
}
.row-style{
	position: absolute;
	text-align: left;
	
	padding-left: 10;
	font-size: 18;
	background-color: ededed;
	color: #e11f21;
	height: 30;
	width: 317;
	left:15;
	margin-top: 3;
	top:220;
}
.quadrato-red{
	position: absolute;
	height: 20;
	width: 20;
	background-color: #e11f21;
	left: 291;
	top: 5;
}
.box-ingredienti-select{
	position: absolute;
	height: 30;
	width: 317;
	background-color: red;
	top:253;
	font-size: 15;
	padding-top: 5;
}




.box-image-restaurant{
	position: relative;
	/*height: 193;
	width: 345;*/
	height: 151;
	width: 317;
	left: -15;
	margin-left: 0;
	background-color: transparent;
}
.box-home{
	color: #e11f21;
	background-color: white;
	padding-left: 5;
	padding-bottom: 0;
	padding-top: 190;
	width: 345;
	top: 2;
	border-right:1px solid #e11f21;
	border-left:1px solid #e11f21;
}
.box-info{
	width: 345;
	height: 43;
	background-color: #eeeff0;
	margin-bottom: 45;
}

.box-info-text{
	margin-top: -20;
	font-family: bariol;
	font-size: 13px;
	color: gray;
}
.box-info-icon{
	position: relative;
	color: #e11f21;
	margin-top: 0;
}
.distance{
	text-align: center;
	padding-top: 3;
	font-size: 13;
	color: black;
	height: 19;
	width: 65;
	background-color: #eeeff0;
	float: right;

}
